<div class="container-fluid contentOffset">
    <div class="row content">
        <div id="left" class="col-6">
            <!-- Title and description -->
        <div class="row">
            <h2>Rekognize</h2>
        </div>
        <div class="row">
            <p>
            Rekognize is a web application that allows you to recognize faces in a picture.
            Using AWS Rekognition as the brains behind the operation, it can find faces and recognize properties of each.
            <p>
            It is a proof of concept and is not intended to be used in production.
        </div>
        </div>
        <div id="right" class="col-6">
            <!-- Access information and social media links -->
            <div class="row">
            <h4>
                Get Started
            </h4>
            <p>
                Start by heading over to the Configure tab to enter your <a class="aws" href="https://console.aws.amazon.com/iam/home?#/security_credentials">Amazon Web Services <i class="fab fa-aws aws"></i></a> credentials.
                Doing so will unlock the Run tab to use Rekognition.
            </p>
        </div>
        <div class="row">
            <!-- Blank Break -->
            <P>
            <P>
        </div>
        <div class="row justify-content-center center-text">
            <div class="col-8">
                Find this on GitHub or follow me
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Social Media Links -->
            <div class="col-1">
                <a href="https://github.com/sciencegirl100/rekognize" target="_blank" title="GitHub 💻">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://twitter.com/sciencegirl100" target="_blank" title="Twitter 🐤">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://www.linkedin.com/in/lizcray/" target="_blank" title=" LinkedIn ✒️">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://www.instagram.com/sciencegirl100/" target="_blank" title="Instagram 📸">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </div>
            <div class="col-1">
                <a href="https://liz.cray.lgbt" target="_blank" title="Portfolio 📜">
                    <i class="fas fa-clipboard fa-2x"></i>
                </a>
            </div>
        </div>
        </div>
    </div>
</div>